<p style="color: green"><%= notice %></p>

<%= render @videofeed %>

<div>
  <%= link_to "Edit this videofeed", edit_videofeed_path(@videofeed) %> |
  <%= link_to "Back to videofeeds", videofeeds_path %>

  <%= button_to "Destroy this videofeed", videofeed_path(@videofeed), method: :delete %>
</div>
